{
  "openapi": "3.1.0",
  "info": {
    "title": "UltraContext",
    "description": "Manage conversation contexts with automatic versioning. Every mutation creates a new branch, preserving full history. All API-key-authenticated requests are rate-limited to protect against abuse — a 429 carries a `RateLimitError` body with a `retry_after_sec` field. Every response carries an `X-Request-Id` header for correlation with server logs.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.ultracontext.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "welcome",
        "summary": "Service welcome",
        "description": "Unauthenticated service banner. Authenticated routes: /contexts*, /mcp, /v1/keys*.",
        "responses": {
          "200": {
            "description": "Service banner",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "reasoning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "liveness",
        "summary": "Liveness probe",
        "description": "Returns 200 while the process is up and serving. Unauthenticated — for load balancers and orchestrators.",
        "responses": {
          "200": {
            "description": "Service is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "operationId": "readiness",
        "summary": "Readiness probe",
        "description": "Returns 200 when the storage backend answers a trivial read, 503 when it does not. Unauthenticated — for load balancers and orchestrators.",
        "responses": {
          "200": {
            "description": "Storage backend is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ready"
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Storage backend is unreachable (the process itself is up)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "not_ready"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Underlying storage error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contexts": {
      "post": {
        "operationId": "createContext",
        "summary": "Create context",
        "description": "Create a new context. Optionally copy from an existing context using the `from` parameter, and specify a `version` to fork from a specific version.",
        "x-mint": {
          "content": "<Tip>Use `from` with `version`, `at`, or `before` to fork from a specific point in history. Learn more in the [Fork & Clone Contexts](/guides/fork-clone-contexts) guide.</Tip>"
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "const ctx = await uc.create()\n\n// With metadata\nconst ctx = await uc.create({ metadata: { name: 'my-session' } })\n\n// Copy from existing (latest version)\nconst fork = await uc.create({ from: 'ctx_abc123' })\n\n// Fork from specific version\nconst v1Fork = await uc.create({ from: 'ctx_abc123', version: 1 })\n\n// Fork at specific message index\nconst partial = await uc.create({ from: 'ctx_abc123', at: 5 })\n\n// Fork from point-in-time\nconst snapshot = await uc.create({ from: 'ctx_abc123', before: '2024-01-15T10:30:00Z' })"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "ctx = uc.create()\n\n# With metadata\nctx = uc.create(metadata={'name': 'my-session'})\n\n# Copy from existing (latest version)\nfork = uc.create(from_='ctx_abc123')\n\n# Fork from specific version\nv1_fork = uc.create(from_='ctx_abc123', version=1)\n\n# Fork at specific message index\npartial = uc.create(from_='ctx_abc123', at=5)\n\n# Fork from point-in-time\nsnapshot = uc.create(from_='ctx_abc123', before='2024-01-15T10:30:00Z')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.ultracontext.ai/contexts \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"metadata\": {\"name\": \"my-session\"}}'\n\n# Fork from specific version\ncurl -X POST https://api.ultracontext.ai/contexts \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"from\": \"ctx_abc123\", \"version\": 1}'\n\n# Fork from point-in-time\ncurl -X POST https://api.ultracontext.ai/contexts \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"from\": \"ctx_abc123\", \"before\": \"2024-01-15T10:30:00Z\"}'"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContextInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Context"
                }
              }
            }
          },
          "400": {
            "description": "Invalid index (when using `at` with `from`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Version not found (when using `version` with `from`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listContexts",
        "summary": "List contexts",
        "description": "List all root contexts for your project. Sorted by `created_at` descending (newest first).",
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// List all contexts\nconst { data } = await uc.get()\n\n// With limit\nconst { data } = await uc.get({ limit: 10 })\n\n// Filter by source\nconst { data } = await uc.get({ source: 'claude' })\n\n// Filter by project\nconst { data } = await uc.get({ project_path: '/Users/alice/Code/myapp' })\n\n// Combine filters\nconst { data } = await uc.get({ source: 'codex', host: 'Mac-mini.local', after: '2026-03-01T00:00:00Z' })"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# List all contexts\nresult = uc.get()\n\n# With limit\nresult = uc.get(limit=10)\n\n# Filter by source\nresult = uc.get(source='claude')\n\n# Filter by project\nresult = uc.get(project_path='/Users/alice/Code/myapp')\n\n# Combine filters\nresult = uc.get(source='codex', host='Mac-mini.local', after='2026-03-01T00:00:00Z')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://api.ultracontext.ai/contexts \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# With limit\ncurl \"https://api.ultracontext.ai/contexts?limit=10\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# Filter by source + project\ncurl \"https://api.ultracontext.ai/contexts?source=claude&project_path=/Users/alice/Code/myapp\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# Time range\ncurl \"https://api.ultracontext.ai/contexts?after=2026-03-01T00:00:00Z&before=2026-03-08T00:00:00Z\" \\\n  -H \"Authorization: Bearer $API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of contexts to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by agent source (e.g. `claude`, `codex`, `openclaw`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "query",
            "description": "Filter by machine hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_path",
            "in": "query",
            "description": "Filter by project directory path (e.g. `/Users/alice/Code/myapp`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "Filter by session identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only contexts created after this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only contexts created before this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contexts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Context"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid limit (must be a positive integer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcpEndpoint",
        "summary": "MCP endpoint",
        "description": "Built-in Model Context Protocol endpoint. Accepts JSON-RPC requests over Streamable HTTP. Exposes `list_contexts`, `get_context_messages`, and `get_recent_activity` tools.",
        "x-mint": {
          "content": "<Info>This endpoint speaks [MCP Streamable HTTP](https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http). Use any MCP-compatible client to connect.</Info>"
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# List available tools\ncurl -X POST https://api.ultracontext.ai/mcp \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"jsonrpc\":\"2.0\",\"method\":\"tools/list\",\"id\":1}'\n\n# Call a tool\ncurl -X POST https://api.ultracontext.ai/mcp \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"jsonrpc\":\"2.0\",\"method\":\"tools/call\",\"params\":{\"name\":\"list_contexts\",\"arguments\":{\"limit\":5}},\"id\":2}'"
          }
        ],
        "requestBody": {
          "description": "JSON-RPC 2.0 request (MCP protocol)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "method": {
                    "type": "string",
                    "description": "MCP method (e.g. `tools/list`, `tools/call`)"
                  },
                  "params": {
                    "type": "object",
                    "description": "Method parameters"
                  },
                  "id": {
                    "description": "Request identifier",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    },
                    "id": {
                      "description": "Matching request identifier",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contexts/{id}": {
      "get": {
        "operationId": "getContext",
        "summary": "Get context",
        "description": "Get context with all messages. Returns latest version by default. Large contexts can be paged with `limit` (max 1,000) and `offset` — when either is supplied the response also includes `total` so you can walk the whole context. Omit both and the full context is returned, as always.",
        "x-mint": {
          "content": "<Info>The `versions` array is only returned when `?history=true`. To page a large context, pass `?limit=100&offset=0` and follow `offset` until you have `total` messages — omitting both always returns the full context, so nothing is ever silently truncated.</Info>"
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// Get current version\nconst { data, version } = await uc.get('ctx_abc123')\n\n// With version history\nconst { data, version, versions } = await uc.get('ctx_abc123', { history: true })\n\n// Get specific version\nconst { data } = await uc.get('ctx_abc123', { version: 1 })\n\n// Get at specific message index\nconst { data } = await uc.get('ctx_abc123', { at: 5 })\n\n// Get point-in-time state\nconst { data } = await uc.get('ctx_abc123', { before: '2024-01-15T10:30:00Z' })"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get current version\nresult = uc.get('ctx_abc123')\n\n# With version history\nresult = uc.get('ctx_abc123', history=True)\n\n# Get specific version\nresult = uc.get('ctx_abc123', version=1)\n\n# Get at specific message index\nresult = uc.get('ctx_abc123', at=5)\n\n# Get point-in-time state\nresult = uc.get('ctx_abc123', before='2024-01-15T10:30:00Z')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get current version\ncurl https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# With version history\ncurl \"https://api.ultracontext.ai/contexts/ctx_abc123?history=true\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# Get specific version\ncurl \"https://api.ultracontext.ai/contexts/ctx_abc123?version=1\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# Get point-in-time state\ncurl \"https://api.ultracontext.ai/contexts/ctx_abc123?before=2024-01-15T10:30:00Z\" \\\n  -H \"Authorization: Bearer $API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Context ID (ctx_...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version number to retrieve (0-indexed). Defaults to latest.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "at",
            "in": "query",
            "description": "Return messages 0 through this index (point-in-time retrieval)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "ISO timestamp. Returns point-in-time state: finds version created before timestamp, then filters messages by created_at.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "history",
            "in": "query",
            "description": "Include version history in response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size for pagination (1..1000, clamped). When supplied, the response also includes `total` and the applied `limit`/`offset`. Omit for the full context.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based index of the first message to return (pagination).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Context messages with version info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid index (when using ?at=) or invalid limit/offset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Context not found, version not found, or index out of range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appendMessages",
        "summary": "Append messages",
        "description": "Append one or more messages to the context. Each append creates a new version. Limits: at most 1,000 messages per append and 10,000 messages per context — exceeding either returns 400 with code `invalid_input`.",
        "x-mint": {
          "content": "<Info>Every append creates a **new version** of the context, so `?version=N` and `?at=…` on the GET endpoint are meaningful for append-only sessions too.</Info>\n\n<Warning>`index` is a reserved field. The `metadata` field is extracted and stored at the message level—it won't appear as a regular content field.</Warning>"
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// Single message\nconst { data, version } = await uc.append('ctx_abc123', { role: 'user', content: 'Hello!' })\n\n// With metadata\nconst { data, version } = await uc.append('ctx_abc123', {\n  role: 'user',\n  content: 'Hello!',\n  metadata: { source: 'web' }\n})"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Single message\nresult = uc.append('ctx_abc123', {'role': 'user', 'content': 'Hello!'})\n\n# With metadata\nresult = uc.append('ctx_abc123', {\n  'role': 'user',\n  'content': 'Hello!',\n  'metadata': {'source': 'web'}\n})"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"role\": \"user\", \"content\": \"Hello!\", \"metadata\": {\"source\": \"web\"}}'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Context ID (ctx_...)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Single message or array. The `metadata` field is extracted; all other fields stored as content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Messages appended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Context not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Retryable conflict — this write raced with a concurrent write on the same context (database serialization conflict). The response carries a `Retry-After` header; wait that many seconds and retry the request verbatim.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request verbatim",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateMessages",
        "summary": "Update messages",
        "description": "Update one or more messages by `id` or `index`. Each update automatically creates a new version.",
        "x-mint": {
          "content": "<Info>Include `metadata` in the request body to record why this update was made. It is optional, but recommended to make audit trail easier to understand.</Info>"
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// Update by id\nconst { data, version } = await uc.update('ctx_abc123', { id: 'msg_xyz', content: 'Fixed!' })\n\n// Update by index (0 = first message, -1 = last)\nconst { data, version } = await uc.update('ctx_abc123', { index: 0, content: 'New system prompt' })\nconst { data, version } = await uc.update('ctx_abc123', { index: -1, content: 'Fix last msg' })\n\n// With audit metadata\nconst { data, version } = await uc.update('ctx_abc123', \n  { id: 'msg_xyz', content: 'Fixed!' },\n  { metadata: { reason: 'typo fix', author: 'alice' } }\n)\n\n// Multiple updates\nawait uc.update('ctx_abc123', [\n  { index: 0, content: 'Updated system prompt' },\n  { id: 'msg_bbb', content: 'Updated 2' }\n])\n\n// Multiple updates with audit metadata\nawait uc.update('ctx_abc123', [\n  { index: 0, content: 'Updated system prompt' },\n  { id: 'msg_bbb', content: 'Updated 2' }\n], { metadata: { reason: 'batch fix', ticket: 'JIRA-456' } })"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Update by id\nresult = uc.update('ctx_abc123', id='msg_xyz', content='Fixed!')\n\n# Update by index (0 = first message, -1 = last)\nresult = uc.update('ctx_abc123', index=0, content='New system prompt')\nresult = uc.update('ctx_abc123', index=-1, content='Fix last msg')\n\n# With audit metadata\nresult = uc.update('ctx_abc123',\n  index=0, content='Fixed!',\n  metadata={'reason': 'typo fix', 'author': 'alice'}\n)\n\n# Multiple updates\nuc.update('ctx_abc123', [\n  {'index': 0, 'content': 'Updated system prompt'},\n  {'id': 'msg_bbb', 'content': 'Updated 2'}\n])\n\n# Multiple updates with audit metadata\nuc.update('ctx_abc123', [\n  {'index': 0, 'content': 'Updated system prompt'},\n  {'id': 'msg_bbb', 'content': 'Updated 2'}\n], metadata={'reason': 'batch fix', 'ticket': 'JIRA-456'})"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Update by id\ncurl -X PATCH https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"id\": \"msg_xyz\", \"content\": \"Fixed typo!\"}'\n\n# Update by index (0 = first, -1 = last)\ncurl -X PATCH https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"index\": 0, \"content\": \"New system prompt\"}'\n\n# Update last message\ncurl -X PATCH https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"index\": -1, \"content\": \"Fixed last message\"}'\n\n# With audit metadata\ncurl -X PATCH https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"updates\": [{\"index\": 0, \"content\": \"Fixed!\"}], \"metadata\": {\"reason\": \"typo fix\"}}'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Context ID (ctx_...)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Single update, array of updates, or object with `updates` array and `metadata` for audit trail.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages updated (new version created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (both id and index provided, neither provided, or index out of range)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Context or message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContextOrMessages",
        "summary": "Delete messages or the entire context",
        "description": "Send a body with `ids` to soft-delete specific messages (creates a new version, prior versions retain the messages). Send no body OR `{\"permanent\": true}` to permanently delete the entire context (irreversible). A permanent delete first writes a durable, append-only audit record to a local JSONL file (`$ULTRACONTEXT_AUDIT_LOG`, else beside the SQLite file / `~/.ultracontext/`) and fails closed — if the record cannot be persisted, nothing is deleted (500).",
        "x-mint": {
          "content": "<Tip>Send `{\"ids\": [...]}` to delete specific messages (soft, versioned). Send `{\"permanent\": true}` to delete the entire context (hard, irreversible).</Tip>\n\n<Info>Include `metadata` to record why this deletion was made. It is echoed in the response and written to the durable local audit trail before the wipe — nothing is deleted unless the record is persisted.</Info>"
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// Delete entire context (permanent, irreversible)\nawait uc.delete('ctx_abc123', { permanent: true })\n\n// Delete messages by id (soft, versioned)\nconst { data, version } = await uc.delete('ctx_abc123', 'msg_xyz')\n\n// Delete by index (0 = first, -1 = last)\nconst { data, version } = await uc.delete('ctx_abc123', 0)\n\n// With audit metadata\nconst { data, version } = await uc.delete('ctx_abc123', 'msg_xyz', {\n  metadata: { reason: 'hallucination', ticket: 'JIRA-123' }\n})\n\n// Multiple deletes (mix of ids and indices)\nawait uc.delete('ctx_abc123', ['msg_aaa', 0, -1])"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Delete entire context (permanent, irreversible)\nuc.delete('ctx_abc123', permanent=True)\n\n# Delete messages by id (soft, versioned)\nresult = uc.delete('ctx_abc123', 'msg_xyz')\n\n# Delete by index (0 = first, -1 = last)\nresult = uc.delete('ctx_abc123', 0)\n\n# With audit metadata\nresult = uc.delete('ctx_abc123', 'msg_xyz',\n  metadata={'reason': 'hallucination', 'ticket': 'JIRA-123'}\n)\n\n# Multiple deletes (mix of ids and indices)\nuc.delete('ctx_abc123', ['msg_aaa', 0, -1])"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Delete entire context (permanent)\ncurl -X DELETE https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"permanent\": true}'\n\n# Delete messages by id (soft, versioned)\ncurl -X DELETE https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"ids\": \"msg_xyz\"}'\n\n# Delete by index\ncurl -X DELETE https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"ids\": 0}'\n\n# With audit metadata\ncurl -X DELETE https://api.ultracontext.ai/contexts/ctx_abc123 \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"ids\": [0, \"msg_xyz\"], \"metadata\": {\"reason\": \"cleanup\"}}'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Context ID (ctx_...)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional. Omit to delete the entire context. Include `ids` to delete specific messages.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Context deleted or messages deleted (new version created)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PermanentDeleteResponse"
                    },
                    {
                      "$ref": "#/components/schemas/WriteResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Index out of range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Context or message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Retryable conflict — the permanent delete raced with a concurrent write on the same context (database serialization conflict). The response carries a `Retry-After` header; wait that many seconds and retry the request verbatim.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request verbatim",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Permanent delete aborted: the durable audit record could not be persisted — nothing was deleted (fail closed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contexts/delete-many": {
      "post": {
        "operationId": "deleteManyContexts",
        "summary": "Delete multiple contexts permanently",
        "description": "Permanently delete up to 100 contexts in one call. Each context and all its versions are irreversibly removed.",
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "const { results, deleted_count } = await uc.deleteMany(['ctx_abc123', 'ctx_def456'])\n\nfor (const r of results) {\n  if (r.deleted) console.log(`Deleted ${r.id}`)\n  else console.log(`Failed ${r.id}: ${r.error}`)\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "result = uc.delete_many(['ctx_abc123', 'ctx_def456'])\n\nfor r in result['results']:\n    if r['deleted']:\n        print(f\"Deleted {r['id']}\")\n    else:\n        print(f\"Failed {r['id']}: {r.get('error')}\")"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.ultracontext.ai/contexts/delete-many \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"ids\": [\"ctx_abc123\", \"ctx_def456\"]}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteManyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All contexts deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteManyResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status — partial success (some items failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteManyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body (empty, oversized, non-string element)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every item failed with a retryable serialization conflict (each item is flagged `retryable: true`). The response carries a `Retry-After` header; wait that many seconds and retry the request verbatim.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying the request verbatim",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteManyResponse"
                }
              }
            }
          },
          "500": {
            "description": "All items failed (response body still contains per-item errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteManyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contexts/search": {
      "get": {
        "operationId": "searchMessages",
        "summary": "Search messages",
        "description": "Full-text search across all message content in your project. Free and unmetered — there is no query quota and no paywall. Results are ranked, and `content` is a snippet centered on the match.",
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "const { data } = await uc.search('authentication bug')\n\n// With filters\nconst { data } = await uc.search('retry', {\n  limit: 5,\n  project_path: '/Users/alice/Code/myapp',\n})"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "result = uc.search('authentication bug')\n\n# With filters\nresult = uc.search('retry', limit=5, project_path='/Users/alice/Code/myapp')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.ultracontext.ai/contexts/search?q=authentication+bug\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# With limit + project filter\ncurl \"https://api.ultracontext.ai/contexts/search?q=retry&limit=5&project_path=/Users/alice/Code/myapp\" \\\n  -H \"Authorization: Bearer $API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search text (required, non-empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of hits to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by agent source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "query",
            "description": "Filter by machine hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_path",
            "in": "query",
            "description": "Filter by project directory path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "Filter by session identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only messages created after this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only messages created before this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked search hits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contexts/stats": {
      "get": {
        "operationId": "getActivityStats",
        "summary": "Activity stats",
        "description": "Aggregated write activity (appends, updates, deletes) computed on demand from your own database. Free — the commercial tier sells analytics; there is nothing to unlock here and no history window that silently truncates. Buckets are UTC; weeks start on Monday.",
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript",
            "source": "// Last 30 days, one bucket per day\nconst stats = await uc.stats({ days: 30 })\n\n// Monthly buckets since a date, one agent source\nconst stats = await uc.stats({ bucket: 'month', from: '2026-01-01T00:00:00Z', source: 'claude' })"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Last 30 days, one bucket per day\nstats = uc.stats(days=30)\n\n# Monthly buckets since a date, one agent source\nstats = uc.stats(bucket='month', from='2026-01-01T00:00:00Z', source='claude')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.ultracontext.ai/contexts/stats?bucket=day&days=30\" \\\n  -H \"Authorization: Bearer $API_KEY\"\n\n# Range + source\ncurl \"https://api.ultracontext.ai/contexts/stats?bucket=week&from=2026-01-01T00:00:00Z&to=2026-03-01T00:00:00Z&source=codex\" \\\n  -H \"Authorization: Bearer $API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "bucket",
            "in": "query",
            "description": "Bucket size: `day` (default), `week`, or `month`",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Window start (ISO 8601). Defaults to `days` days ago.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end (ISO 8601). Defaults to now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Window length in days when `from` is omitted (default 30)",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Restrict to one agent source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity rollup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bucket, timestamp, or days value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "operationId": "createKey",
        "summary": "Create API key",
        "description": "Create a new API key for a new project. Admin-only — authenticate with the UltraContext admin key (ULTRACONTEXT_ADMIN_KEY), not a regular API key. The raw key is returned exactly once; only its hash is stored.",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.ultracontext.ai/v1/keys \\\n  -H \"Authorization: Bearer $ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"ci-deploy\"}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created (raw key returned once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (admin key required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{projectId}": {
      "get": {
        "operationId": "listKeys",
        "summary": "List a project's API keys",
        "description": "List all API keys for a project. Admin-only. Never exposes key hashes.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID (positive integer)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project and its keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "projectId must be a positive integer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (admin key required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{id}": {
      "delete": {
        "operationId": "revokeKey",
        "summary": "Revoke API key",
        "description": "Revoke an API key — the leaked-key escape hatch. The key stops working immediately: the storage row is deleted and the auth cache entry is evicted. Admin-only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Key ID (positive integer)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "id must be a positive integer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (admin key required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{id}/rotate": {
      "post": {
        "operationId": "rotateKey",
        "summary": "Rotate API key",
        "description": "Issue a fresh key for the same project and revoke the old one in one step. Admin-only. The old prefix is returned (masked) so you can update references; the old raw key is not.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Key ID to rotate (positive integer)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key rotated (new raw key returned once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "id must be a positive integer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (admin key required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your UltraContext dashboard. The /v1/keys routes additionally require the admin key."
      }
    },
    "schemas": {
      "Context": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (ctx_...)",
            "example": "ctx_a1b2c3d4e5f6"
          },
          "metadata": {
            "type": "object",
            "description": "User-defined metadata",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "Message with unwrapped content. Your fields are merged at the top level.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (msg_...)",
            "example": "msg_x1y2z3"
          },
          "index": {
            "type": "integer",
            "description": "0-based position in context",
            "example": 0
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Version": {
        "type": "object",
        "description": "Version history entry with audit trail",
        "properties": {
          "version": {
            "type": "integer",
            "description": "0-indexed version number",
            "example": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "operation": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete"
            ],
            "description": "Operation that created this version"
          },
          "affected": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Message IDs affected by update/delete operations. Null for create."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "User-provided audit metadata (e.g., reason, performed_by). Only present when provided."
          }
        }
      },
      "GetContextResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Messages for the requested version (a single page when ?limit/?offset is used)",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "version": {
            "type": "integer",
            "description": "Current version number being viewed"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Version"
            },
            "description": "Version history (only present when ?history=true)"
          },
          "total": {
            "type": "integer",
            "description": "Total number of messages in the viewed version (only present when ?limit/?offset is used)"
          },
          "limit": {
            "type": "integer",
            "description": "Applied page size (only present when ?limit is supplied)"
          },
          "offset": {
            "type": "integer",
            "description": "Applied zero-based start index (present when ?limit/?offset is used; 0 when only ?limit is supplied)"
          }
        }
      },
      "WriteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "version": {
            "type": "integer",
            "description": "Current version number after the write"
          }
        }
      },
      "CreateContextInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Source context ID to copy from (optional)"
          },
          "version": {
            "type": "integer",
            "description": "When forking with `from`, copy from this specific version (0-indexed)"
          },
          "at": {
            "type": "integer",
            "description": "When forking with `from`, copy only messages 0 through this index"
          },
          "before": {
            "type": "string",
            "format": "date-time",
            "description": "When forking with `from`, copy point-in-time state before this ISO timestamp"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "User-defined metadata for this context"
          }
        },
        "description": "Create a new context with optional fork params and metadata"
      },
      "AppendInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AppendMessage"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppendMessage"
            }
          }
        ]
      },
      "AppendMessage": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Message metadata (extracted and stored separately)"
          }
        },
        "additionalProperties": true,
        "description": "Message content with optional metadata. `index` is reserved."
      },
      "UpdateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID to update (msg_...). Either id or index required, not both."
          },
          "index": {
            "type": "integer",
            "description": "Message index (0 = first, -1 = last). Either `id` or `index` required."
          }
        },
        "additionalProperties": true,
        "description": "Include `id` OR `index` (not both) and any fields to merge into the message"
      },
      "UpdateRequestBody": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/UpdateInput"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateInput"
            }
          },
          {
            "type": "object",
            "properties": {
              "updates": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateInput"
                },
                "description": "Array of updates to apply"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true,
                "description": "Audit metadata for this version (e.g., reason, author)"
              }
            },
            "required": [
              "updates"
            ]
          }
        ]
      },
      "DeleteInput": {
        "description": "Either `ids` (soft-delete specific messages, versioned) or `{permanent: true}` (hard-delete entire context, irreversible). Any other body shape returns 400 to prevent typos from silently wiping a context.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "ids"
            ],
            "properties": {
              "ids": {
                "oneOf": [
                  {
                    "type": "string",
                    "description": "Single message ID (msg_...)"
                  },
                  {
                    "type": "integer",
                    "description": "Single message index (0 = first, -1 = last)"
                  },
                  {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ]
                    },
                    "description": "Array of message IDs and/or indices"
                  }
                ]
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true,
                "description": "Audit metadata for this version (e.g., reason, ticket)"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "permanent"
            ],
            "properties": {
              "permanent": {
                "type": "boolean",
                "enum": [
                  true
                ],
                "description": "Must be `true` to permanently delete the entire context"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true,
                "description": "Audit metadata logged server-side (context history is wiped; metadata is echoed in the response)"
              }
            }
          }
        ]
      },
      "PermanentDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "description": "Whether the context was deleted"
          },
          "id": {
            "type": "string",
            "description": "The deleted context ID"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Audit metadata echoed from the request, if supplied"
          }
        }
      },
      "DeleteManyInput": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 100,
            "description": "Array of context IDs to permanently delete (max 100)"
          }
        }
      },
      "DeleteManyResponse": {
        "type": "object",
        "description": "Status 200 when all succeeded, 207 (Multi-Status) on partial failure, 409 when every item failed with a retryable serialization conflict (Retry-After header), 500 when every item failed otherwise.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Context ID"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether the context was deleted"
                },
                "error": {
                  "type": "string",
                  "description": "Error message if deletion failed"
                },
                "retryable": {
                  "type": "boolean",
                  "description": "True when the failure was a transient serialization conflict — retry the item verbatim after the Retry-After delay"
                }
              }
            }
          },
          "deleted_count": {
            "type": "integer",
            "description": "Number of contexts successfully deleted"
          }
        }
      },
      "SearchHit": {
        "type": "object",
        "description": "One ranked search match",
        "properties": {
          "context_id": {
            "type": "string",
            "description": "Context the message belongs to"
          },
          "branch_id": {
            "type": "string",
            "description": "Version head the message currently lives under (differs from context_id once the context was edited)"
          },
          "message_id": {
            "type": "string",
            "description": "Message ID (msg_...)"
          },
          "content": {
            "type": "string",
            "description": "Snippet of the message content centered on the match"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "rank": {
            "type": "number",
            "description": "Relevance rank (lower is better)"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "The (trimmed) search text"
          },
          "limit": {
            "type": "integer",
            "description": "Effective limit applied"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchHit"
            }
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "description": "Write-activity rollup over a UTC window. `series` is gap-filled (empty buckets carry null first/last event times).",
        "properties": {
          "bucket": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ],
            "description": "Bucket size used"
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "description": "Window start"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "description": "Window end"
          },
          "totals": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "integer"
              },
              "messages": {
                "type": "integer"
              },
              "contexts": {
                "type": "integer"
              },
              "root_contexts": {
                "type": "integer"
              },
              "sources": {
                "type": "integer",
                "description": "Distinct sources seen in the window"
              },
              "active_buckets": {
                "type": "integer",
                "description": "Buckets that contain at least one event"
              }
            }
          },
          "by_source": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string"
                },
                "nodes": {
                  "type": "integer"
                },
                "messages": {
                  "type": "integer"
                },
                "contexts": {
                  "type": "integer"
                },
                "root_contexts": {
                  "type": "integer"
                }
              }
            }
          },
          "series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bucket_start": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Bucket start (UTC)"
                },
                "nodes": {
                  "type": "integer"
                },
                "messages": {
                  "type": "integer"
                },
                "contexts": {
                  "type": "integer"
                },
                "root_contexts": {
                  "type": "integer"
                },
                "first_event_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "last_event_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CreateKeyInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "min_length": 1,
            "description": "Human-readable project/key name (required)"
          }
        }
      },
      "CreateKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The raw API key — returned exactly once"
          },
          "prefix": {
            "type": "string",
            "description": "Key prefix (safe to store; used for cache eviction)"
          },
          "project_id": {
            "type": "integer"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "description": "Public key row. key_hash is never exposed.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "project_id": {
            "type": "integer"
          },
          "key_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "KeyListResponse": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "integer"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          }
        }
      },
      "RevokeKeyResponse": {
        "type": "object",
        "properties": {
          "revoked": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "description": "The revoked key ID"
          }
        }
      },
      "RotateKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The new raw API key — returned exactly once"
          },
          "prefix": {
            "type": "string",
            "description": "New key prefix (safe to store)"
          },
          "project_id": {
            "type": "integer"
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "description": "Returned with 429 when a caller exceeds the abuse-protection rate limit. The limit protects against abuse, not usage — UltraContext is free and unmetered.",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "retry_after_sec": {
            "type": "integer",
            "description": "Seconds to wait before retrying"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "enum": [
              "not_found",
              "invalid_input",
              "conflict",
              "internal"
            ],
            "description": "Machine-readable error code. `conflict` is retryable — the response also carries a `Retry-After` header; wait that many seconds and retry the request verbatim."
          }
        }
      }
    }
  }
}
